<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Newsletter\Controller\Subscriber\NewAction">
        <plugin name="magenable_popup_plugin_new_subscriber"
                type="Magenable\Popup\Plugin\NewSubscriber" sortOrder="1"/>
    </type>
</config>
